header
{
    background-color:#F0F7EE;
    text-align:center;
    font-family:"Trebuchet MS",Helvetica,sans-serf;
}

body
{
    background-color:#A0CAC5;
}

img
{
    display:block;
    margin:auto;
}
